.components-tree{
    width: 200px;
    height: clac(100% - 1px);
    /* background-color: green; */
    background-color: rgb(32,32,36);
    border: var(--border-style);
    /* border-top: none; */
    border-bottom: none;
    grid-area: tree;
    /* padding: 0em 1em; */
    overflow-y: auto;
}

.components-tree-list{
    grid-area: tree-list;
    width: 200px;
    display: block;
}

.components-tree-props{
    grid-area: tree-props;
    width: 200px;
    display: block;
}
