.App.styles-main-wrapper{
    min-height: 0;
    height: fit-content;
    border-radius: 0.75em;
    width: 100%;
}

.main.styles-comp-wrapper{
    background-color: white;
    border-radius: 0.35em;
}

.button{
    width: fit-content;
    padding: 0.25em 0.75em;
    font-weight: bold;
    font-size: 1.2em;
    align-self: flex-end;
}

.button.close{
    color: white;
}

.button.close:hover{
    background-color: rgb(232,17,35);
}

.button.save{
    color: white;
    background-color: cornflowerblue
}


.styles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: fit-content;
    background-color: rgb(48,48,54);
    color: white;
    border: 2px solid rgb(0,0,0,0.25);
    border-radius: 0.75em;
}

.styles::backdrop{

    background-color: rgba(0,0,0,0.75);
}

.styles-header > h2{
    grid-area: styleText;
}
.styles-header > label{
    grid-area: styleInput;
    place-self: center end;
}

.styles-header{
    width: 100%;
    display: grid;
    grid-template-areas: '. styleText styleInput';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    place-items: center;
}

.styles-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.styles-list > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.styles-buttons{
    align-self: end;
    display: flex;
}